// fonts
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext');
// icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

html {
    position: relative;
    overflow-x: hidden !important;
}

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    color: #324e63;
    margin: 0;
}

a,
a:hover {
    text-decoration: none;
}

a {
    color: #324e63;
}

::selection {
    color: #fff;
    background-color: #0e71c8;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.wrapper {
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 50px 20px;
    padding-top: 100px;
    display: flex;
    background: linear-gradient(-20deg, #F876B5 0%, #E8DCA8 100%);

    @media screen and (max-width: 768px) {
        height: auto;
        min-height: 100vh;
        padding-top: 100px;
    }

}

.profile-card {
    width: 100%;
    min-height: 460px;
    margin: auto;
    box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
    background: #fff;
    border-radius: 12px;
    max-width: 700px;
    position: relative;

    &.active {
        .profile-card__cnt {
            filter: blur(6px);
        }

        .profile-card-message,
        .profile-card__overlay {
            opacity: 1;
            pointer-events: auto;
            transition-delay: .1s;
        }

        .profile-card-form {
            transform: none;
            transition-delay: .1s;
        }
    }

    &__img {
        width: 150px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
        transform: translateY(-50%);
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        z-index: 4;
        box-shadow: 0px 5px 50px 0px rgb(108, 68, 252), 0px 0px 0px 7px rgba(107, 74, 255, 0.5);

        @media screen and (max-width: 576px) {
            width: 120px;
            height: 120px;
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

    &__cnt {
        margin-top: -35px;
        text-align: center;
        padding: 0 20px;
        padding-bottom: 40px;
        transition: all .3s;
    }

    &__name {
        font-size: 2rem;
        color: #005199;
        margin-bottom: 15px;
        font-weight: bold;
        position: relative;
        letter-spacing: 1px;

        top: -7px;
        animation: fadeUpIn 3s;
        -webkit-animation: fadeUpIn 3s;
    }

    &__subname {
        font-size: 20px;
        font-weight: 550;
        margin-bottom: 15px;
        letter-spacing: 0.5px;
        animation: txtfadeUpIn 3s;
        -webkit-animation: txtfadeUpIn 3s;
    }

    &__txt {
        font-size: 18px;
        font-weight: 550;
        color: #807c86;
        margin-bottom: 15px;
        letter-spacing: 0.5px;

        animation: txtfadeUpIn 3s;
        -webkit-animation: txtfadeUpIn 3s;

        strong {
            color: #ff2846;
            font-weight: 700;
        }
    }

    &__content {
        font-size: 16px;
        font-weight: 500;
        color: #324e63;
        margin-bottom: 15px;
        align-items: center;
        line-height: 2em;

        @media screen and (max-width: 576px) {
            font-size: 16px;
            margin-bottom: 15px;
        }
    }

    &-loc {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 600;

        &__icon {
            display: inline-flex;
            font-size: 27px;
            margin-right: 10px;
            // color: #6944ff;
        }

    }

    &-inf {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-top: 35px;

        &__item {
            padding: 10px 35px;
            min-width: 150px;

            @media screen and (max-width: 768px) {
                padding: 10px 20px;
                min-width: 120px;
            }

        }

        &__title {
            font-weight: 700;
            font-size: 27px;
            //color: #6944ff;
            color: #324e63;
        }

        &__txt {
            font-weight: 500;
            margin-top: 7px;
        }

    }

    &-social {
        margin-top: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        &__item {
            display: inline-flex;
            width: 55px;
            height: 55px;
            margin: 15px;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            color: #fff;
            background: #405de6;
            box-shadow: 0px 7px 30px rgba(43, 98, 169, 0.5);
            position: relative;
            font-size: 21px;
            flex-shrink: 0;
            transition: all .3s;

            @media screen and (max-width: 768px) {
                width: 50px;
                height: 50px;
                margin: 10px;
            }

            @media screen and (min-width: 768px) {
                &:hover {
                    transform: scale(1.2);
                }
            }

            &.facebook {
                background: linear-gradient(45deg, #3b5998, #0078d7);
                box-shadow: 0px 4px 30px rgba(43, 98, 169, 0.5);
            }

            &.line {
                background: linear-gradient(45deg, #04bd51, #04bd51);
                box-shadow: 0px 4px 30px rgba(43, 98, 169, 0.5);
            }

            &.instagram {
                background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
                box-shadow: 0px 4px 30px rgba(120, 64, 190, 0.6);
            }

            &.behance {
                background: linear-gradient(45deg, #1769ff, #213fca);
                box-shadow: 0px 4px 30px rgba(27, 86, 231, 0.7);
            }

            &.link {
                background: linear-gradient(45deg, #d5135a, #f05924);
                box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.6);
            }

            &.mail {
                background: linear-gradient(1deg, #1DB8F6, #1B73ED);
                box-shadow: 0px 4px 30px rgba(63, 65, 67, 0.6);
            }

            &.line img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        .icon-font {
            display: inline-flex;
        }

    }

    &-ctr {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;

        @media screen and (max-width: 576px) {
            flex-wrap: wrap;
        }

    }

    &__button {
        background: none;
        border: none;
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
        font-size: 19px;
        margin: 15px 35px;
        padding: 15px 40px;
        min-width: 201px;
        border-radius: 50px;
        min-height: 55px;
        color: #fff;
        cursor: pointer;
        backface-visibility: hidden;
        transition: all .3s;

        @media screen and (max-width: 768px) {
            min-width: 170px;
            margin: 15px 25px;
        }

        @media screen and (max-width: 576px) {
            min-width: inherit;
            margin: 0;
            margin-bottom: 16px;
            width: 100%;
            max-width: 300px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &:focus {
            outline: none !important;
        }

        @media screen and (min-width: 768px) {
            &:hover {
                transform: translateY(-5px);
            }
        }

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &.button--blue {
            background: linear-gradient(45deg, #1da1f2, #0e71c8);
            box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4);

            &:hover {
                box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75);
            }

        }

        &.button--orange {
            background: linear-gradient(45deg, #d5135a, #f05924);
            box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.35);

            &:hover {
                box-shadow: 0px 7px 30px rgba(223, 45, 70, 0.75);
            }

        }

        &.button--gray {
            box-shadow: none;
            background: #dcdcdc;
            color: #142029;
        }

    }

    &-message {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 130px;
        padding-bottom: 100px;
        opacity: 0;
        pointer-events: none;
        transition: all .3s;
    }

    &-form {
        box-shadow: 0 4px 30px rgba(15, 22, 56, 0.35);
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        background: #fff;
        border-radius: 10px;
        padding: 35px;
        transform: scale(.8);
        position: relative;
        z-index: 3;
        transition: all .3s;

        @media screen and (max-width: 768px) {
            max-width: 90%;
            height: auto;
        }

        @media screen and (max-width: 576px) {
            padding: 20px;
        }

        &__bottom {
            justify-content: space-between;
            display: flex;

            @media screen and (max-width: 576px) {
                flex-wrap: wrap;
            }

        }

    }

    textarea {
        width: 100%;
        resize: none;
        height: 210px;
        margin-bottom: 20px;
        border: 2px solid #dcdcdc;
        border-radius: 10px;
        padding: 15px 20px;
        color: #324e63;
        font-weight: 500;
        font-family: 'Quicksand', sans-serif;
        outline: none;
        transition: all .3s;

        &:focus {
            outline: none;
            border-color: #8a979e;
        }

    }

    &__overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        opacity: 0;
        background: rgba(22, 33, 72, 0.35);
        border-radius: 12px;
        transition: all .3s;
    }
}

#footer {
    padding: .5rem 0;
    background-color: #232323;
    text-align: center;
    color: #fff;
}

#footer p {
    font-size: .85rem;
}

#footer p a {
    color: #fff;
    text-decoration: underline;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

#footer p a:hover {
    color: #00ff6c;
}

.content-text {
    text-align: left;
    margin: 0 auto;
    animation: txtfadeUpIn 3s;
    -webkit-animation: txtfadeUpIn 3s;

    @media screen and (max-width: 575.99px) {
        width: 74%;
    }

    @media screen and (min-width: 576px) and (max-width: 767.99px) {
        width: 50%;
    }

    @media screen and (min-width: 768px) and (max-width: 991.99px) {
        width: 36%;
    }

    @media screen and (min-width: 992px) and (max-width: 1199.99px) {
        width: 36%;
    }

    @media screen and (min-width: 1200px) {
        width: 37%;
    }
}

.content-text a:hover {
    text-decoration: none;
    color: #0e71c8;
}

/* Safari and Chrome */
@keyframes fadeUpIn {
    from {
        opacity: 0;
        top: 500px;
    }

    to {
        opacity: 1;
        top: -7px;
    }
}

/* Safari and Chrome */
@keyframes txtfadeUpIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}